<nav style="background-color: white;">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo"><span class="logo">TRADE</span><span class="logo2">MARKET</span></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#" style="color: #212121;">Log In</a></li>
      <li><a class="waves-effect waves-light btn-large">Sign Up</a></li>
    </ul>
  </div>
</nav>